
.todays-workout{
    border-radius: 10px;
    margin: 20px auto 5px auto;
    padding: 10px;
    width: 90%;

    background: #1d1f24;
    border: 1px solid #9c6b18;

    color: rgb(172, 172, 172)


}

.training-plan-text{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 20px 20px 10px 20px;

    
}

.workoutS{
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 90%;
    overflow: scroll;

    
}

.workout{
    display: flex;
    flex-direction: column;
    
    padding: 10px;
    margin: auto 10px;
    border: 1px solid black;
    border-radius: 10px;
    min-width: 130px;
    height: 130px;

    background: #1d1f24;
    border: 1px solid #9c6b18;

    overflow: hidden; 

    color: rgb(172, 172, 172)

}

.home-ex{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin: 25px auto auto 10px;
    
    max-width: 90px;
    
    min-width: 0;
    
    
}

.home-p{
    display: block;
    font-size: 12px;

    white-space: nowrap;
    overflow: hidden;
   

    

  

}

.work-p{
    width: 50px;
    text-align: center;
    
}

.PRs{
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    min-height: 200px;
    max-height: 200px;
    
    background: #1d1f24;
    border: 1px solid #9c6b18;
    border-radius: 10px;

    color: rgb(172, 172, 172);

}

.latest-div{
    overflow-y: scroll;

    padding-left: 30px;
    margin: 10px 20px auto auto;
    
    height: 50px;


}

.home-latest-pr{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.latest-div hr{
    width: 90%;
    margin: 3px auto 10px auto;

    border: .5px solid gray;
}

.gym-tracker{
    height: 170px;
    width: 90%;

    overflow: hidden;

    padding: 10px;
    margin: auto;

    background: #1d1f24;
    border: 1px solid #9c6b18;
    border-radius: 10px;

    color: rgb(172, 172, 172)

}

.gym-streak{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 70px;

    margin-bottom: 10px;
}

.gym-week{
    display: flex;
    flex-direction: row-reverse;
   
    gap: 5px;

    max-width: 100%;

}

.indiv-day{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    
}

.indiv-day div{
    border: 1px solid white;
    border-radius: 10px;
    height: 40px;
    width: 40px;
    margin-bottom: 5px;
}

.indiv-day p {
    text-align: center;
}

#gym-left{
    padding-left: 10px;
}

#gym-right{
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 5px;
    border-radius: 10px;

    height: 80%;
    width: 50px;

    color: #ffa200;
    background-color: rgba(177, 151, 3, 0.438);
}

.green{
    background-color: green;
}

.stats-tracker{
    margin: 20px auto 150px auto;
    width: 90%;
    height: 200px;

    background: #1d1f24;
    border: 1px solid #9c6b18;
    border-radius: 10px;

    padding: 20px;


}

.weight-tracker{
    background: rgba(128, 128, 128, 0.5);
    width: 48%;
    height: 80px;
    border-radius: 10px;

    padding: 12px 19px;
}

.size-tracker{
    background: rgba(128, 128, 128, 0.5);
    width: 48%;
    height: 80px;
    border-radius: 10px;

    padding: 12px 19px;
}


.w-s-tracker{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 10px;
}